@import "tailwindcss";

*{
    font-family: 'Inter';
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 75px);
}
::-webkit-scrollbar-thumb{
    background: rgb(58, 58, 58);
}
::-webkit-scrollbar-track{
    background-color: rgb(14, 14, 14);
}
::-webkit-scrollbar{
    width: 20px;
}